%div
  %span= @person.name
  %span= @person.email

%div

  = form_tag do
    - @playlists.each do |playlist|
      %div
        = check_box_tag(:subscribe, true)
        = label_tag(:subscribe, playlist['name'])
        = hidden_field_tag(:playlist_id, playlist['id'])
    = submit_tag("Subscribe Playlists to PRBumps")
